@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap);

:root {
    /* Fonts */
    --font-outfit: 'Outfit', sans-serif;
    --font-oswald: 'Oswald', sans-serif;

    /* Colores */
    --rojoFunco: #F00002;
    --sectionGray: #D9D9D9;
}